
<div *ngIf="posts">
    <h2><span>Posts</span> {{posts.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Post Title</span></dt>
        <dd>
            <span>{{posts.postTitle}}</span>
        </dd>
        <dt><span>Post Content</span></dt>
        <dd>
            <span>{{posts.postContent}}</span>
        </dd>
        <dt><span>Video URL</span></dt>
        <dd>
            <span>{{posts.videoURL}}</span>
        </dd>
        <dt><span>Image URL</span></dt>
        <dd>
            <span>{{posts.imageURL}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'posts/'+ posts.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
